h1 {
     font-size: 40px;
     color: darkgreen;
}
article {
     color: black;
}
article,
.btn {
     font-weight: bold;
}
h1,
.scoreid,
.container {
     text-align: center;
}

h2 {
     width: 100;
     height: 30px;
     border: 1px solid gray;
     margin-left: 150px;
     margin-right: 150px;
}
h2,
.btn {
     background-color: aqua;
}

header {
     font-size: large;
     color: darkblue;
}
main {
     position: relative;
     width: 700px;
     height: 450px;
     top: 100px;
     left: 400px;
     border: 5px solid green;
     background-color: lightgrey;
}

button {
     margin-top: 30px;
     margin-bottom: 20px;
}
.grid {
     display: grid;
}

.btn {
     padding: 10px 20px;
     border: 1px solid white;
}

.btn:hover {
     border-color: darkgreen;
}
.hide {
     display: none;
}
.start-btn,
.clear-btn,
.reset-btn,
.btn {
     font-size: 1rem;
}

.header-right {
     float: right;
}
#showresult {
     margin-top: 20px;
     border-top: 2px solid darkgray;
}

#msg.success,
#msg.error {
     visibility: visible;
     font-size: larger;
}

#msg.error {
     color: #e6252c;
}
#answer-buttons {
     display: table;
     margin: 0 auto;
}
#question {
     font-weight: bold;
     margin-bottom: 20px;
}
#qcontainer {
     margin-top: 60px;
}
#question,
article {
     font-size: 20px;
}
